<ion-tabs>
  <ion-tab-bar slot="bottom" class="graduhub-tabs">
    
    <ion-tab-button tab="home">
      <ion-icon name="calendar-number-outline"></ion-icon>
      <ion-label>Eventos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="medicion">
      <ion-icon name="pencil-outline"></ion-icon>
      <ion-label>Medidas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="entrega">
      <ion-icon name="shirt-outline"></ion-icon>
      <ion-label>Entrega</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recepcion">
      <ion-icon name="archive-outline"></ion-icon>
      <ion-label>Recepción</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>